#container {
  position: absolute;
  width: 0px;
  margin-left: 50%;
  border-style: dashed;
  margin-top: 50px
}


#octo {
position: absolute;
  margin-left: -100px;
  top: 50px;
  border-style: dashed;
}

#hat {
  float: left;
  position: absolute;
  left: -130px;

  border-style: dashed;
}

#glasses {
  float: left;
  position: relative;
  left: -60px;
  top: 150px;
  border-style: dashed;
}
